In [2]:
# imports
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns

In [3]:
spiData = pd.read_csv('SPIData.csv')

In [4]:
spiData = pd.DataFrame(pd.concat([spiData['Country'],spiData['SPI year'],spiData['Social Progress Index']],axis=1))

In [5]:
# Making sure row is for 2020
for index, row in spiData.iterrows():
    if row['SPI year']!=2020:
        spiData.drop(index, inplace=True)

In [6]:
spiData = pd.DataFrame(pd.concat([spiData['Country'],spiData['Social Progress Index']],axis=1))

In [7]:
spiData

          Country  Social Progress Index
0           World                  64.24
10    Afghanistan                  42.29
20        Albania                  75.41
30        Algeria                  69.92
40         Angola                  48.16
...           ...                    ...
1590      Uruguay                  82.99
1600   Uzbekistan                  64.98
1610      Vietnam                  68.85
1620       Zambia                  55.34
1630     Zimbabwe                  52.26

[164 rows x 2 columns]

In [8]:
waterData = pd.read_csv("WaterScarcity.csv",header=None)
waterData = waterData.drop(columns=[2,3])
waterData

               0     1
0    Afghanistan  3.80
1        Albania  3.53
2        Algeria  3.69
3        Andorra  3.92
4         Angola  1.66
..           ...   ...
145    Venezuela  2.03
146      Vietnam  0.94
147        Yemen  3.97
148       Zambia  0.81
149     Zimbabwe  1.79

[150 rows x 2 columns]

In [9]:
data = []
countries = []

In [10]:
for index, row in spiData.iterrows():
    country = row['Country']
    socialProgressIndex = row['Social Progress Index']

    for i, r in waterData.iterrows():
        newCountry = r[0]
        waterIndex = r[1]

        if country==newCountry:
            countries.append([country])
            data.append([socialProgressIndex,waterIndex])

In [11]:
y = pd.DataFrame(data)[0]
X = pd.DataFrame(data)[1]

In [ ]:
plt.scatter(X,y)
plt.title("Water Scarcity Index vs. SPI")
plt.xlabel("Water Scarcity Index")
plt.ylabel("Social Progress Index")